
.body-mobile{
	display: none;
}


@media screen and (max-width: 1600px)
{
	.Article{
		margin-right: 2em;
		margin-left: 2em;
		width: 55%;
		font-size: 1.2em;
		font-weight: 300;
	}

}


@media screen and (max-width: 1400px)
{
	.Article{
		margin-right: 2em;
		margin-left: 2em;
		width: 45%;
		font-size: 1.2em;
		font-weight: 300;
	}
	.CVdownloadutton{
		width: auto;
		padding: 0.5em;
	}

	.ContainerGallery{
		background-color: #212121;
		width: 90%;
		height: 100%;
		margin-top: 2em;
	}
	.imgGallery{
		height: 120%;
		width: 100%;
		padding: auto;
		margin: auto;
	}

}



/* Body Mobile etc */

@media screen and (max-width: 650px)
{

.body-desktop{
	display: none;
}

.body-mobile{
 display:contents;
}

.AMobile {
	text-decoration: none;
	color: #1E1E23;
	opacity:1;
	font-size: 1.5em;
	font-weight: 400;
	transition: 200ms;
  }
  .AMobile:hover {
	opacity:0.5;
  }
.UlMobile {
	padding: 0;
	list-style-type: none;
  }

.navigationMobile {
	background-color: #1E1E23;
	height: 65px;
  }
  #ToggleMenuMobile {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 25px;
	left: 25px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
  }
  
  #ToggleMenuMobile input
  {
	display: flex;
	width: 40px;
	height: 32px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
  }
  
  #ToggleMenuMobile span
  {
	display: flex;
	width: 29px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 5px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
  }
  
  #ToggleMenuMobile span:first-child
  {
	transform-origin: 0% 0%;
  }
  
  #ToggleMenuMobile span:nth-last-child(2)
  {
	transform-origin: 0% 100%;
  }
  
  #ToggleMenuMobile input:checked ~ span
  {
	opacity: 1;
	transform: rotate(45deg) translate(-3px, -1px);
	background: #36383F;
  }
  #ToggleMenuMobile input:checked ~ span:nth-last-child(3)
  {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #ToggleMenuMobile input:checked ~ span:nth-last-child(2)
  {
	transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menuMobile
  {
	position: absolute;
	width: 180px;
	height: 400px;
	box-shadow: 0 0 10px #85888C;
	margin: -50px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	background-color: #F5F6FA;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menuMobile li
  {
	padding: 10px 0;
	transition-delay: 2s;
  }
  
  #ToggleMenuMobile input:checked ~ ul
  {
	transform: none;
  }

  .AboutMobile{
	background-color: #f7cc00;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 4em;
  }

  .RulerGP{
	font-family:FontAwesome;
	font-size:2em;
  }
  
  .ligneGP{
	display:flex;
	flex-direction:row;
	margin-top: 1em;
	margin-bottom: 1em;
	width:40%;
	margin: auto;
  } 

.h1HomeMobile{
	text-align: center;
	padding-top: 2em;
}

  .ArtcSkillsMobile{
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
    margin-top: 3em;
}

.ArticleMobile{
	text-align: center;
    width: 60%;
    font-size: 0.8em;
    font-weight: 300;
}

.ArticTitleMobile{
    font-size: 1em;
    font-weight: 600;
}

.CVdownload{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 4em;
    margin-top: 5em;
    width: 80%;
    margin: auto;
}

.CVdownloadutton{
    border: #212121 solid 2px;
    border-radius: 10px;
    width: 60%;
}
.CVdownloadutton i{
    padding: 0.5em;
    padding-left: 0.2em;
    margin-left: 0.5em;
}

.CVdownloadutton a {
    text-decoration: none;
    color: #212121;
    font-weight: 400;
    font-size: 0.75em;
}
  
.GalleryDiv{
    margin-bottom: 4em;
}

.h1Gallery{ color: #212121;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 0px;
}

.GalleryCardMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerGalleryMobile{
    background-color: #212121;
    width: 90%;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: center;
    border-radius: 30px;
}

.imgGalleryMobile{
    height: 130%;
    width: 100%;
    padding: 2em;
    border-radius: 5%;
}

.TitleGalleryMobile{
    font-weight: 1000;
    font-size: 1.8em;
    margin-top: 0.5em;
}

.PGalleryMobile{
    font-size: 1em;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.TagGalleryMobile{
    margin-top: 1.25em;
}

.tagMobile{
    background-color: #f7cc00;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    border-radius: 10px;
    color:#212121;
    margin-left:1em;
    margin-right:1em;
}

.linkGalleryMobile {
    text-decoration: none;
    font-size: 2.35em;
    display: flex;
    justify-content: flex-end;
    margin-right:0.5em;
}

.linkGalleryMobile i {
    color: #f7cc00;
}

.ContactMobile{
	background-color: #212121;
	border:#f7cc00 2em solid;
	padding-bottom: 5em;
}

.ContactMobile h2{
	text-align: center;
	color: #F5F6FA;
	margin-bottom: 3em;
}

.formContactMobile{
	padding:3em;
}

.formContactMobile{
	width:340px;
	height:440px;
	margin: 0;
	box-sizing:border-box;
	position:relative;
	
}

.InputMobileContact{
	width:100%;padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;border-bottom:2px solid #f7cc00;
}

.InputMobileContact:focus{
	border-bottom:2px solid #F5F6FA;
}

.pContactMobile:before{
	content:attr(type);
	display:block;margin:28px 0 0;
	font-size:14px;
	color:#F5F6FA
}

.ContactBtnMobile{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	border:2px solid #f7cc00;
	background:0;
	color:#f7cc00;
	cursor:pointer;
	transition:all .3s;
}

.ContactBtnMobile:hover{
	background:#212121;
	color:#fff;
}

  
.SocialIconMobile {
	width: 90%;
	margin:0;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 6em;
	padding-bottom: 2.5em;
  }
  
  .SocialIconMobile  li {
	list-style: none;
  }
  
  .SocialIconMobile li a {
	width:60px;
	height:60px;
	display:block;
	text-align:center;
	margin:0 10px;
	border-radius: 50%;
	padding: 6px;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
  }
  
  .SocialIconMobile li a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
  }
  
  .SocialIconMobile  li a .fa {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: #262626;
	transition: .5s;
  }

  .SocialIconMobile  li a .fa-brands {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: #262626;
	transition: .5s;
  }
  
  .SocialIconMobile li:nth-child(1) a:hover .fa {
	color: #3e039c;
  }
  
  .SocialIconMobile  li:nth-child(2) a:hover .fa {
	color: #a8adaf;
  }
  
  .SocialIconMobile  li:nth-child(3) a:hover .fa-brands {
	color: #fda92c;
  }
  
  .SocialIconMobile li:nth-child(4) a:hover .fa-brands {
	color: #3c3ab9;
  }
  
.footerMobile{
	font-size: 0.8em;
}
}