.ArtcSkills{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
}

.Article{
    margin-right: 7em;
    margin-left: 7em;
    width: 25%;
    font-size: 1.2em;
    font-weight: 300;
}

.ArticTitle{
    font-size: 1.5em;
    font-weight: 600;
}

.CVdownload{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 8.5em;
    margin-top: 8em;
}

.CVdownloadutton{
    border: #212121 solid 2px;
    border-radius: 10px;
    width: 15%;
}

.CVdownloadutton i{
    padding: 0.5em;
    padding-left: 0.2em;
    margin-left: 0.5em;
}

.CVdownloadutton a {
    text-decoration: none;
    color: #212121;
    font-weight: 400;
    font-size: 1.1em;
}

.divdashed{
    display: flex;
    justify-content: center;
}

.rulerTiret{
    border-bottom: #212121 dashed 2px ;
    width: 80%;
    margin-bottom: 3em;
}

.h1Gallery{ color: #212121;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 0px;
}

.GalleryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerGallery{
    background-color: #212121;
    width: 75%;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    text-align: center;
    border-radius: 30px;
}

.imgGallery{
    height: 100%;
    width: 220%;
    padding: 2em;
    border-radius: 5%;
}

.TitleGallery{
    font-weight: 1000;
    font-size: 2em;
}

.PGallery{
    font-size: 1.8em;
    font-weight: 300;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.TagGallery{
    margin-top: 2.5em;
}

.tag{
    background-color: #f7cc00;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    border-radius: 10px;
    color:#212121;
    margin-left:1em;
    margin-right:1em;
}

.linkGallery {
    text-decoration: none;
    font-size: 5em;
    display: flex;
    justify-content: flex-end;
    margin-right:0.5em;
}

.linkGallery i {
    color: #f7cc00;
}

